# dependencies
**/node_modules

# testing
**/coverage

# build artifacts
**/dist
**/dist-tsc
**/*.tsbuildinfo

# misc
**/.DS_Store
**/*.pem

# env files
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# turbo cache and cookies
*/**/.turbo
/.turbo/cookies

# vercel
**/.vercel
