engine-strict=true
# disable public-hoist-pattern entirely to avoid phantom dependencies
public-hoist-pattern[]=
# workspace-concurrency=0 will use amount of cores of the host to run tasks concurrently (see https://pnpm.io/cli/recursive#--workspace-concurrency)
workspace-concurrency=0
# use package-import-method=hardlink because the default mode does not work in the "node-buster" Docker image (the build would then fail with typing issues)
package-import-method=hardlink

strict-peer-dependencies=true

save-workspace-protocol=true
