# the default settings of pnpm regarding peer dependency management and resolution-mode seem to result
# in an instable lockfile, it jumps back and fourth in versions
# therefore disable auto installing peers and deduping peers
auto-install-peers=false
dedupe-peer-dependents=false
strict-peer-dependencies=true

# disable public-hoist-pattern entirely to avoid phantom dependencies (by default pnpm hoists some things, see https://pnpm.io/npmrc#public-hoist-pattern)
public-hoist-pattern[]=

# enforce specific Node.js and pnpm version (https://pnpm.io/npmrc#engine-strict)
engine-strict=true

# https://pnpm.io/npmrc#update-notifier
update-notifier=false

# workspace-concurrency=0 will use amount of cores of the host to run tasks concurrently (see https://pnpm.io/cli/recursive#--workspace-concurrency)
workspace-concurrency=0
