# https://pnpm.io/npmrc#engine-strict
engine-strict=true
# disable public-hoist-pattern entirely to avoid phantom dependencies (by default pnpm hoists some things, see https://pnpm.io/npmrc#public-hoist-pattern)
public-hoist-pattern[]=
# workspace-concurrency=0 will use amount of cores of the host to run tasks concurrently (see https://pnpm.io/cli/recursive#--workspace-concurrency)
workspace-concurrency=0
# use package-import-method=hardlink because the default mode does not work in the "node-buster" Docker image (the build fails with typing issues)
package-import-method=hardlink
# https://pnpm.io/npmrc#strict-peer-dependencies
strict-peer-dependencies=true
